{% load bootstrap4 %} {% bootstrap_css %} {% bootstrap_messages %}
{%load static%}

<link href="{%static 'bootstrap.min.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'table.css'%}" rel="stylesheet" type="text/css">

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="{%url 'index' %}">InvestimentoApp</a>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}"
          >Home <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listaEmpresas' %}">Empresas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'consultaAtivos' %}">Ativos</a>
      </li>
    </ul>
  </div>
</nav>





{% block conteudo %} {% endblock conteudo %}

