{% extends 'base.html' %} {% block conteudo %}
<div class="container card m-3 col-md-3 shadow-sm mt-3">
  <b class="card-header">Novo ativo</b>
  <div class="card-body">
    <div>
      <form
        style="display: flex; flex-direction: column; max-width: 15rem"
        action="/investimento/ativos/add"
        method="post"
      >
        {% csrf_token %} {{ form }}

        <div class="p-3">
          <a href="{% url 'consultaAtivos' %}"
            ><button class="btn btn-outline-primary">Voltar</button></a
          >
          <input class="btn btn-primary" type="submit" value="Monitorar" />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock conteudo %}
