{% extends 'base.html' %} {% block conteudo %}
<div class="container d-flex card shadow-sm mt-3" style="max-width: 20rem">
  <h4 class="card-header">Novo ativo</h4>
  <div class="card-body">
    <div>
      <form
        style="display: flex; flex-direction: column"
        action="/investimento/ativos/add"
        method="post"
      >
        {% csrf_token %} {{ form }}

        <div class="mt-2" style="text-align: center">
          <a class="btn btn-outline-primary" href="{% url 'consultaAtivos' %}"
            >Voltar</a
          >
          <input class="btn btn-primary" type="submit" value="Monitorar" />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock conteudo %}
