{%extends 'base.html'%}


{% block conteudo %}

<h1>Ativos monitorados</h1>
<p>
<a href="{% url 'listaEmpresas' %}"><button>Voltar</button></a>


  <a href="{% url 'addAtivo' %}"><button>Monitorar novo ativo</button></a>


<a href="{% url 'buscaAtivos' %}"><button>Buscar ativos monitorados</button></a>
</p>



<div >
  <table class="table" >
    <thead>
      <tr>
        <th>Código do ativo</th>
        <th>Túnel máx.</th>
        <th>Túnel min</th>
        <th>Periodicidade [h]</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      {% for ativo in ativos%}
      <tr>
        <td>{{ativo.codigo_ativo}}</td>
        <td>R$ {{ativo.tunel_max}}</td>
        <td>R$ {{ativo.tunel_min}}</td>
        <td>{{ativo.periodicidade}}</td>
        <td><a href="{% url 'historicoAtivo' ativo.id %}"><button>Histórico</button> </a></td>
        <td><a href="{% url 'editAtivo' ativo.id %}"><button>Editar</button> </a></td>
        <td><a href="{% url 'deleteAtivo' ativo.id %}"><button>Excluir</button> </a></td>
      </tr>
       {%endfor%}
    </thead>

  </table>
</div>
{%endblock conteudo%}