{%extends 'base.html'%} {% block conteudo %}

<div class="container d-flex mt-4 card shadow-sm">
  <div class="card-header mt-2">
    <form class="pt-2">
      {{ ativos.form }}
      <input class="btn btn-outline-primary" type="submit" value="Buscar"/>
    </form>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Código do ativo</th>
          <th>Túnel máx.</th>
          <th>Túnel min</th>
          <th class="d-none d-md-table-cell">Periodicidade [h]</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        {% for ativo in ativos.qs%}
        <tr>
          <td>{{ativo.codigo_ativo}}</td>
          <td style="white-space: nowrap;">R$ {{ativo.tunel_max}}</td>
          <td style="white-space: nowrap;">R$ {{ativo.tunel_min}}</td>
          <td class="d-none d-md-table-cell">{{ativo.periodicidade}}</td>
          <td>
            <a href="{% url 'historicoAtivo' ativo.id %}"
              ><button class="btn btn-sm btn-outline-secondary">
                Histórico
              </button>
            </a>
          </td>
          <td>
            <a href="{% url 'editAtivo' ativo.id %}"
              ><button class="btn btn-sm btn-outline-info">Editar</button>
            </a>
          </td>
          <td>
            <a href="{% url 'deleteAtivo' ativo.id %}"
              ><button class="btn btn-sm btn-outline-danger">Excluir</button>
            </a>
          </td>
        </tr>
        {%endfor%}
      </thead>
    </table>
  </div>
</div>
{%endblock conteudo%}
