{%extends 'base.html'%}


{% block conteudo %}
<div class="d-flex card shadow-sm container mt-4">
<div class="card-header">  <h4 class="pt-2">Detalhe dos ativos da empresa {{detalhe_empresa.nm_empresa}}</h4></div>

  
  <div class="container m-3">
    <dl>
      <dt>ID#</dt>
      <dd>{{detalhe_empresa.id}}</dd>
      <dt>Código Ação RDZ</dt>
      <dd>{{detalhe_empresa.cd_acao_rdz}}</dd>
      <dt>Setor Econômico</dt>
      <dd>{{detalhe_empresa.setor_economico}}</dd>
      <dt>Subsetor</dt>
      <dd>{{detalhe_empresa.subsetor}}</dd>
      <dt>Segmento</dt>
      <dd>{{detalhe_empresa.segmento}}</dd>
      <dt>Código das ações</dt>
  
      <dd>{{detalhe_empresa.cd_acao}}</dd>
  
      <dt>CNPJ</dt>
      <dd>{{detalhe_empresa.tx_cnpj}}</dd>
    </dl>
  </div>
  

  <a href="{% url 'listaEmpresas' %}"><button class="mb-2 btn btn-outline-primary">Voltar</button></a>
{%endblock conteudo%}

