{%extends 'base.html'%} {% block conteudo %}

<div class="container d-flex card shadow-sm mt-3" style="max-width: 20rem">
  <h4 class="card-header">Editar ativo</h4>

  <div class="card-body">
    <form
      style="display: flex; flex-direction: column"
      action="/investimento/ativos/{{ativo.id}}/edit"
      method="post"
    >
      {% csrf_token %} {{ form }}
      <div class="p-3" style="text-align: center">
        <a class="btn btn-outline-primary" href="{% url 'consultaAtivos' %}"
          >Voltar</a
        >
        <input class="btn btn-primary" type="submit" value="Atualizar" />
      </div>
    </form>
  </div>

  {%endblock conteudo%}
</div>
