{%extends 'base.html'%} {% block conteudo %}

<div class="card container shadow-sm mt-4">
  <div class="card-header">
    <h3 class="pt-1">
      Bem vindo ao aplicativo para lhe ajudar a investir de forma inteligente!
    </h3>
  </div>
  <div class="card-body">
    <p>O que gostaria de fazer?</p>
    <div style=" text-align: center; ">
      <a href="{% url 'listaEmpresas' %}"
        ><button class="btn btn-lg btn-outline-primary">
          Listar empresas com ativos na B3
        </button></a
      >

      <a href="{% url 'addAtivo' %}"
        ><button class="btn btn-lg btn-outline-success">
          Monitorar novo ativo
        </button></a
      >

      <a href="{%url 'consultaAtivos'%}">
        <button type="button" class="btn btn-lg btn-outline-info">
          Consultar ativos monitorados
        </button>
      </a>
    </div>
  </div>
</div>
{% endblock conteudo %}
