{%extends 'base.html'%}


{% block conteudo %}

<h1>Lista de Empresas</h1>

<a href="{% url 'index' %}">
  <button>Voltar</button>
</a>

<a href="{% url 'addAtivo' %}"><button>Monitorar novo ativo</button></a>

<a href="{% url 'consultaAtivos' %}"
  ><button>Consultar ativos monitorados</button></a
>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Código Empresa</th>
        <th>Nome da Empresa</th>
        <th>Setor Econômico</th>
        <th>Ativos</th>
      </tr>

      {% for empresa in lista_empresas%} {%if empresa.cd_acao != ""%}
      <tr>
        <td>{{empresa.cd_acao_rdz}}</td>
        <td>{{empresa.nm_empresa}}</td>
        <td>{{empresa.setor_economico}}</td>
        <td>{{empresa.cd_acao}}</td>
        <td>
          <a href="{% url 'detalheEmpresa' empresa.id %}">
            <button>Detalhe</button>
          </a>
        </td>
      </tr>
      {%endif%} {%endfor%}
    </thead>
  </table>
</div>

{%endblock conteudo%}

