<h1>Lista de Empresas</h1>

<button><a href="{% url 'index' %}">Voltar</a></button>

<button>
  <a href="{% url 'addAtivo' %}">Monitorar novo ativo</a>
</button>

<button>
  <a href="{% url 'consultaAtivos' %}">Consultar ativos monitorados</a>
</button>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Código Empresa</th>
        <th>Nome da Empresa</th>
        <th>Setor Econômico</th>
        <th>Ativos</th>
      </tr>

      {% for empresa in lista_empresas%} {%if empresa.cd_acao != ""%}
      <tr>
        <td>{{empresa.cd_acao_rdz}}</td>
        <td>{{empresa.nm_empresa}}</td>
        <td>{{empresa.setor_economico}}</td>
        <td>{{empresa.cd_acao}}</td>
        <td><button><a href="{% url 'detalheEmpresa' empresa.id %}"> Detalhe </a></button></td>
      </tr>
      {%endif%} {%endfor%}
    </thead>
  </table>
</div>
